
<div class="container-fluid">
    <hr class="topline">
    <div class="row">
    <div class="col-12 col-lg-7 col-xl-7 col-md-12 col-sm-12 detailsleft" *ngIf="newdata;">
        <div class=" row ">
         <div class="col-11 col-xl-11 col-lg-11 col-md-11 col-sm-11 ">
             <h4>{{newdata.productname1}}{{newdata.productname2}}</h4>
             <p>{{newdata.price}}RWF</p>
         </div>
         <div class="col-11 col-xl-1 col-lg-1 col-md-1 col-sm-1">
             <img src="./assets/heart.png" alt="">
        </div>
        </div>
        <div>
            <img style=" height: 400px;width: 450px;margin-left: 10%;" src={{newdata.pimage}} alt="">
            <div style="    margin-left: 10%;" >
                <img (click)="subimage1()" src={{newdata.subimage1}}  class="subimage" style="cursor:pointer ;">
                <img (click)="subimage2()" src={{newdata.subimage2}}  class="subimage"style="cursor:pointer ;">
                <img (click)="subimage3()" src={{newdata.subimage3}}  class="subimage" style="cursor:pointer ;">
                <img (click)="subimage4()" src={{newdata.subimage4}}  class="subimage" style="cursor:pointer ;">
            </div>
            
        </div>
    </div>
    <div class="col-12 col-lg-5 col-xl-5 col-md-12 col-sm-12 detailsright " *ngIf="newdata;">
        <div>
            <h5 >Description</h5>
            <p> {{newdata.description}}</p>
        </div>
        
        <hr class="hr_line">
         <div>
            <div class="size">
                <h4>Size</h4>
                <button class="sizebutton">32</button>
                <button class="sizebutton">33</button>
                <button class="sizebutton">34</button>
                <button class="sizebutton">35</button>
                <button class="sizebutton">36</button>
                <button class="sizebutton">37</button>
                <button class="sizebutton">38</button>
                <button class="sizebutton">39</button>
                <button class="sizebutton">40</button>
                <button class="sizebutton">41</button>
                <button class="sizebutton">42</button>
            
            </div>
         </div>
         <div class="row">
            <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <table>
                    <td (click)="decrement()" style="cursor: pointer;"><p>-</p></td>
                    <td><button type="number" class="count">{{count}}</button></td>
                    <td (click)="increment()" style="cursor: pointer;"><p>+</p></td>
                </table>
            </div>
            <div class="col-12 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <button class="Sub_item_4" (click)="addtocart()" >Add to cart</button>
            </div>
            <!-- <p>{{producttotalprice}}</p> -->
           
         </div>
    </div>
</div> 
</div>

